<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>com.spark.Aionwidgets.test</string>

        <key>CFBundleDisplayName</key>
        <string>Test Aion Widget</string>
       
        <key>AionWidgetClass</key>
        <string>TestAionWidget</string>
        
        <key>AionWidgetsVersion</key>
        <integer>1</integer>
    </dict>
</plist>
